@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --primary-color: #F87171;
    --background-color: #FEF2F2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    background-color: var(--primary-color);
}

.container{
    max-width: 900px;
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
}

.container-heading{
    text-align: center;
    margin: 1rem;
    font-size: xx-large;
}

.container p, .section p{
    text-align: center;
    font-size: larger;
    margin-bottom: 1rem;
}

.section{
    padding: 1rem;
    margin: 3rem 0;
    text-align: center;
    height: 50vh;
}


.odd{
    background-color: var(--background-color);
}

.even{
    border: solid 1px;
    border-color: var(--background-color);
}

.non-bullet-list{
    list-style: none;
    padding-inline-start: 0px;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: black;
}

.active-link{
    font-weight: bold;
    color: var(--background-color);
}

.primary-link{
    background-color: var(--background-color);
    max-width: 140px;
    border-radius: 2rem;
    color: var(--primary-color);
    margin: 2rem 0;
}

.secondary-link {
    max-width: 140px;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.list-item-inline{
    display: inline;
    padding: 0rem .5rem;
}

.nav{
    height: 10vh;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
}

.nav .nav-brand{
    font-weight: bold;
    font-size: larger;
    color: var(--background-color);
    width: 100%;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.nav-list{
    text-align: right;
    margin: 0.5rem;
}

.header{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60vh;
}

.header-div{
    padding-top: 5rem;
    margin: auto;
    text-align: right;
}

.header .header-image{
    width: 50%;
    text-align: left;
}

.header-div .header-heading{
    width: 500px;
    text-align: right;
    color: var(--background-color);
}

.heading-span{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.header .link{
    color: var(--background-color);
}


.icons{
    justify-content: space-between;
    margin-top: 1rem;
    text-align: left;
}

.icon-image{
    max-width: 20rem;
    width: 15rem;
    margin: 0 3.5rem;
    display: inline;
}

.showcase-list {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin: 3rem auto;
}

.footer{
    text-align: center;
    padding: 2rem 1rem;
    border-top-right-radius: 2rem;
}

.footer-header{
    font-weight: bold;
    font-size: larger;
    margin-bottom: 1rem;
}

.footer .link{
    color: var(--background-color);
    font-size: 3rem;
}












